/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Outfit', sans-serif;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* via https://codepen.io/kevinpowell/pen/QWxBgZX */

/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 
*/


body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
}

.container {
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 2%;
    width: 20%;
    height: 60%;
}

img {
    padding: 20px;
    padding-bottom: 25px;
    border-radius: 10%;;
}

h1 {
    padding-bottom: 15px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 20px;
}

p {
    padding-left: 20px;
    padding-bottom: 15px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

.price {
  padding-left: 20px;
}

.days {
  padding-left: 110px;
  font-weight: 300;
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}


hr {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: hsl(215, 51%, 70%);
   } 